
.post--cont {
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    overflow: hidden;
    margin-top: 10px;
    height: 100%;
    width: 100%;
}


.post--cont .post--header {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 100%;
}

.post--user--info {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}

.post--user--info .user--img--cont {
    background-color: crimson;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user--img--cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.post--user--info .text--cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text--cont h3 {
    color: #000;
    font-size: var(--LABLE--SIZE);
    letter-spacing: var(--LABEL--LETTER--SPACING);
}

.text--cont p {
    color: #000;
    font-size: var(--BODY--S--SIZE);
    letter-spacing: var(--BODY--S--LETTER--SPACING);
    opacity: .8;
}


.follow--btn {
    color: rgb(20, 173, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    border-radius: 16px;
    white-space: nowrap;
    overflow: hidden;   
}

.follow--btn span {
    font-size: var(--LABLE--SIZE);
    letter-spacing: var(--LABEL--LETTER--SPACING);
}

/* || Post Discription Section styles */
.post--discription--cont {
    width: 100%;
    padding: 0px 16px 8px 16px;
}

.post--discription--cont .discription,
.discription a {
    text-align: start;
    font-size: var(--BODY--M--SIZE);
    letter-spacing: var(--BODY--M--LETTER--SPACING);
    line-height: var(--BODY--M--LINE-HEIGHT);
}

.discription a {
    text-decoration: none;
}


/* || Post Content style  */
.post--content--cont {
    aspect-ratio: 1.5/1;
    width: 100%;
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post--content--cont img {
    aspect-ratio: inherit;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
}


/* || Options Btn Style  */
.option--btn--cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 4px 16px;
}

.option--btn--cont .option--btn {
    /* background-color: rgb(160, 93, 7); */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    column-gap: 4px;
    color: #000;
}

.option--btn * {
    font-size: var(--LABLE--SIZE);
    letter-spacing: var(--LABEL--LETTER--SPACING);
}

.option--btn img {
    object-position: center;
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}

/* || Options Conttainer style */
.options--cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    row-gap: 10px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.options--cont .option--status--cont {
    position: relative;
    /* background-color: #d4d4d4; */
    background-color: #dbefff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    padding: 2px 4px;
    overflow: hidden;
}

.option--status--cont::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #b3dbff;
    width: 50%;
    border-radius: 16px;
}

.option--status--cont * {
    font-size: var(--LABLE--SIZE);
    letter-spacing: var(--LABEL--LETTER--SPACING);
    z-index: 1;
}

/* || Linkes Comment Share Status Container Style */
.likes--comment--share--cont {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0000003d;
}

.likes--comment--share--cont .left--likes--cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.likes--count--cont {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* background-color: aqua; */
}

.likes--count--cont div {
    width: 18px;
    height: 18px;
    border-radius: 18px;
}

.likes--count--cont .user--1 {
    background-color: red;
    z-index: 1;
}

.likes--count--cont .user--2 {
    transform: translateX(-8px);
    background-color: green;
    z-index: 2;
}

.likes--count--cont .user--3 {
    transform: translateX(-16px);
    background-color: blue;
    z-index: 3;
}
.likes--count--cont .likes--count {
    background-color: unset;
    width: fit-content;
    transform: translateX(-12px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.likes--count--cont .likes--count p {
    font-size: var(--BODY--S--SIZE);
    letter-spacing: var(--BODY--S--LETTER--SPACING);
}


/* || Comment Share Status Section Styles */
.right--comment--share--cont {
    display: flex;
    justify-content: flex-end;
}

.touch--overflow .comment--share-link {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.right--comment--share--cont span {
    font-size: var(--BODY--S--SIZE);
    letter-spacing: var(--BODY--S--LETTER--SPACING);
    white-space: nowrap;
}

/* || Like Comment Share Btns Styles */
.action--btns--cont {
    /* background-color: chocolate; */
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
}

.like--cont,
.comment--cont,
.share--cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action--btns--cont .touch--overflow {
    border-radius: 8px;
    width: 100%;
}

.action--btns--cont .btn {
    text-decoration: none;
    color: #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    padding: 10px 12px;
    /* background-color: darkcyan; */
    transition: background-color 0.3s ease-in-out;
}

.btn:active,
.btn:focus,
.btn:hover {
    background-color: #d4d4d4;
}

.btn img {
    width: 24px;
    object-position: center;
}

.btn {
    font-size: var(--LABLE--SIZE);
    letter-spacing: var(--LABEL--LETTER--SPACING);
}


/* || Comment Action Section Styles */
.comment--area {
    padding: 0px 16px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.comment--area .comment--user--info {
    /* background-color: rgb(255, 159, 159); */
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.comment--user--info .user--img--cont {
    background-color: #dbefff;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.user--img--cont img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.comment--user--info input {
    flex: 1;
    text-transform: capitalize;
    font-size: var(--BODY--M--SIZE);
    letter-spacing: var(--BODY--M--LETTER--SPACING);
    font-weight: 400;
    letter-spacing: 0.25px;
    background-color: #dbefff;
    color: #000;
    padding: 12px 16px;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.comment--user--info input:active,
.comment--user--info input:focus,
.comment--user--info input:hover {
    background-color: #cde8ff;
}

.send--btn {
    background-color: #dbefff;
    padding: 8px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.send--btn img {
    height: 24px;
    width: 24px;
    object-fit: contain;
    object-position: center;

}

.comment--user--info .send--btn:active,
.comment--user--info .send--btn:focus,
.comment--user--info .send--btn:hover {
    background-color: #cde8ff;
}














/* || Code Text  */
.code--text--cont {
    width: inherit;
    background-color: transparent;
    overflow: hidden;
}
